.main {
  display: flex;
  flex-direction: row;
  width: 40%;
  margin-left: 60%;
}


.search{
    flex: 20%;
    margin-left: auto;    
    padding-right: 20px;
}
.addFile{
    flex: 10%;
    margin-left: auto;    
    
}
.sortByButton{
    flex: 10%;
    margin-left: auto; 
    padding-left: 70px;   
}

.images{
    display: flex;
   
}